$color-link-menu: #3a3a3a;
$color-border-menu: #f3f3f3;
$color-link-menu-hover: #145388;

@mixin line-after($color){
    content: "";
    background-color: $color;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 6px;
    height: 80px;
    transform: translateY(-50%);
    left: 0;
}

@mixin active($selected: false){
    color: $color-link-menu-hover;
border-left: 2px solid $color-link-menu-hover;
    @if $selected {
        &:after {
            @include line-after($color-link-menu-hover);
        }
    }
}

:host {
    width: 100%;
    height: 100vh;
    background-color: #efeaea;
    display: inline-block;
    
}

a {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    height: 80px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    color: $color-link-menu;
    border-bottom: 1px solid $color-border-menu;
    position: relative;

    &:hover {
        @include active;
    }

    p{
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    &.active {
        @include active(true);
    }
}
 